
/*animation classes used by the application*/
@keyframes __slide_left {
  0% {  opacity: 1; transform: translate(-15px) }
  100% {  opacity: 0; transform: translate(-100%)  }
}
@keyframes __slide_right {
  0% {  opacity: 0; transform: translate(-100%) }
  100% {  opacity: 1; transform: translate(15px)  }
}

.animate__slide_left {
    animation-name: __slide_left;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.animate__slide_right {
    animation-name: __slide_right;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}